## Import essential libraries.

In [405]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import data as data
%matplotlib inline

## Read essential docs, importing only desired columns.

In [406]:
salaries_index = [0, 3, 4]
salaries = pd.read_csv('data/Salaries.csv', usecols=salaries_index)

batting_index = [0, 1, 5, 6, 8, 17, 18, 20]
batting = pd.read_csv('data/Batting.csv', usecols=batting_index)

fielding_index = [0, 1, 5]
fielding = pd.read_csv('data/Fielding.csv', usecols=fielding_index)

master_index = [0, 13, 14]
master = pd.read_csv('data/Master.csv', usecols=master_index)

On-base percentage is calculated using this formula:

OBP = H + BB + HBP /  AB + BB + HBP + SF

H = Hits
BB = Bases on Balls (Walks)
HBP = Hit By Pitch
AB = At bats
SF = Sacrifice Flies

In [407]:
#Merge salaries and fielding documents. 
salaries_fielding = pd.merge(salaries, fielding)

In [408]:
#Merge salaries/fielding with master. 
salaries_fielding_master = pd.merge(salaries_fielding, master)

In [411]:
#Merge final document to complete dataframe, call dataframe baseball
baseball = pd.merge(salaries_fielding_master, batting)

In [412]:
#Remove NaNs from master list
baseball = baseball.dropna()

In [413]:
#Funcation to calcualte each player's on base percentage
def calculate_player_obp(hits, hbp, walks, at_bats, flies):
    dividend = hits + walks + hbp 
    divisor = at_bats + walks + hbp + flies
    obp = dividend / divisor 
    return obp

In [414]:
#Find each player's OBP and place it a newly-created column titled "OBP
baseball["OBP"] = calculate_player_obp(
    baseball['H'],
    baseball['HBP'],
    baseball['IBB'],
    baseball['AB'],
    baseball['SF'],
)

In [417]:
#Function to compare their salary and OBP to determine efficiency at getting on base
def establish_financial_efficacy_of_player(OBP, salary):
    return OBP / salary

In [419]:
#Place the aforementioned ratio into a new column titled "Efficiency
baseball["Efficiency"] = establish_financial_efficacy_of_player(baseball['OBP'], baseball['salary'])

In [423]:
#Require at least 25 at-bats to remove 1.0 OBP outliers
baseball = baseball[baseball['AB'] > 25]

In [426]:
#Clean dataframe of corrupt results (e.g. infinite efficiency)
baseball = baseball.replace([np.inf, -np.inf], np.nan)
baseball = baseball.dropna()

In [427]:
baseball.sort_values('Efficiency', ascending=False).head(10)

,yearID,playerID,salary,POS,nameFirst,nameLast,G,AB,H,IBB,HBP,SF,OBP,Efficiency
14056,1987,milleke01,62500,2B,Keith,Miller,25,51.0,19.0,0.0,1.0,0.0,0.384615,0.000006
8940,1986,jonestr01,60000,1B,Tracy,Jones,46,86.0,30.0,1.0,0.0,1.0,0.352273,0.000006
8941,1986,jonestr01,60000,CF,Tracy,Jones,46,86.0,30.0,1.0,0.0,1.0,0.352273,0.000006
8942,1986,jonestr01,60000,LF,Tracy,Jones,46,86.0,30.0,1.0,0.0,1.0,0.352273,0.000006
8943,1986,jonestr01,60000,OF,Tracy,Jones,46,86.0,30.0,1.0,0.0,1.0,0.352273,0.000006
8843,1986,danieka01,60000,OF,Kal,Daniels,74,181.0,58.0,1.0,2.0,1.0,0.329730,0.000005
8842,1986,danieka01,60000,LF,Kal,Daniels,74,181.0,58.0,1.0,2.0,1.0,0.329730,0.000005
8215,1986,greenmi01,60000,LF,Mike,Greenwell,31,35.0,11.0,0.0,0.0,0.0,0.314286,0.000005
8214,1986,greenmi01,60000,DH,Mike,Greenwell,31,35.0,11.0,0.0,0.0,0.0,0.314286,0.000005
8217,1986,greenmi01,60000,RF,Mike,Greenwell,31,35.0,11.0,0.0,0.0,0.0,0.314286,0.000005

In [429]:
#Show mean of players on-base percentage
baseball['OBP'].describe()

count    45820.000000
mean         0.255493
std          0.051981
min          0.000000
25%          0.230769
50%          0.262295
75%          0.288542
max          0.522772
Name: OBP, dtype: float64