In [95]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import data as data
%matplotlib inline

In [150]:
salaries_index = [0, 3, 4]
salaries = pd.read_csv('data/Salaries.csv', usecols=column_index)

batting_index = [0, 1, 5, 6, 8, 17, 18, 20]
batting = pd.read_csv('data/Batting.csv', usecols=batting_index)

pitching_index = []
pitching = pd.read_csv('data/Pitching.csv')

fielding_index = [0, 1, 5]
fielding = pd.read_csv('data/Fielding.csv', usecols=fielding_index)

master_index = [0, 7, 13, 14, 21]
master = pd.read_csv('data/Master.csv', usecols=master_index)

appearences_index = []
appearances = pd.read_csv('data/Appearances.csv')

In [140]:
#Find each player's OBP 

#Find each player's salary

#Find players with the highest OPB and lowest salary PER YEAR

On-base percentage is calculated using this formula:

OBP = H + BB + HBP
    ---------------
    AB + BB + HBP + SF


H = Hits
BB = Bases on Balls (Walks)
HBP = Hit By Pitch
AB = At bats
SF = Sacrifice Flies

#batting.fillna(int(0))

SyntaxError: invalid syntax (<ipython-input-140-23d0c22e5c2e>, line 7)

In [151]:
salaries_fielding = pd.merge(salaries, fielding)

In [152]:
salaries_fielding

       yearID   playerID    salary POS
0        1985  barkele01    870000   P
1        1985  bedrost01    550000   P
2        1985  benedbr01    545000   C
3        1985   campri01    633333   P
4        1985  ceronri01    625000   C
5        1985  chambch01    800000  1B
6        1985  dedmoje01    150000   P
7        1985  forstte01    483333   P
8        1985  garbege01    772000   P
9        1985  harpete01    250000  LF
10       1985  harpete01    250000  OF
11       1985  harpete01    250000  RF
12       1985  hornebo01   1500000  1B
13       1985  hornebo01   1500000  3B
14       1985  hubbagl01    455000  2B
15       1985  mahleri01    407500   P
16       1985  mcmurcr01    275000   P
17       1985  mumphje01    775000  CF
18       1985  mumphje01    775000  OF
19       1985  mumphje01    775000  RF
20       1985  murphda05   1625000  CF
21       1985  murphda05   1625000  OF
22       1985  oberkke01    616667  2B
23       1985  oberkke01    616667  3B
24       1985  perezpa01    450000   P
25       1985  perryge01    120000  1B
26       1985  perryge01    120000  LF
27       1985  perryge01    120000  OF
28       1985  ramirra01    750000  SS
29       1985  suttebr01   1354167   P
...       ...        ...       ...  ..
51913    2015  ramoswi01   3550000   C
51914    2015  rendoan01   2500000  2B
51915    2015  rendoan01   2500000  3B
51916    2015  roarkta01    529600   P
51917    2015  robincl01    525000   P
51918    2015  robincl01    525000  1B
51919    2015  robincl01    525000  LF
51920    2015  robincl01    525000  RF
51921    2015  robincl01    525000  OF
51922    2015  scherma01  17142000   P
51923    2015   spande01   9000000  CF
51924    2015   spande01   9000000  OF
51925    2015  stammcr01   2250000   P
51926    2015  storedr01   5700000   P
51927    2015  strasst01   7400000   P
51928    2015  taylomi02    508700  LF
51929    2015  taylomi02    508700  CF
51930    2015  taylomi02    508700  RF
51931    2015  taylomi02    508700  OF
51932    2015  thornma01   3500000   P
51933    2015  treinbl01    512800   P
51934    2015  ugglada01    507500  1B
51935    2015  ugglada01    507500  2B
51936    2015  werthja01  21000000  LF
51937    2015  werthja01  21000000  RF
51938    2015  werthja01  21000000  OF
51939    2015  zimmejo02  16500000   P
51940    2015  zimmery01  14000000  1B
51941    2015  zimmery01  14000000  LF
51942    2015  zimmery01  14000000  OF

[51943 rows x 4 columns]

In [153]:
salaries_fielding_master = pd.merge(salaries_fielding, master)

In [145]:
# salaries_fielding_master['deathYear'].describe()

count     857.000000
mean     2009.009335
std         6.918410
min      1989.000000
25%      2006.000000
50%      2012.000000
75%      2015.000000
max      2016.000000
Name: deathYear, dtype: float64

In [154]:
baseball = pd.merge(salaries_fielding_master, batting)

In [155]:
baseball

,yearID,playerID,salary,POS,deathYear,nameFirst,nameLast,finalGame,G,AB,H,IBB,HBP,SF
0,1985,barkele01,870000,P,NaN,Len,Barker,1987-09-26,20,17.0,0.0,0.0,0.0,0.0
1,1987,barkele01,890000,P,NaN,Len,Barker,1987-09-26,11,NaN,NaN,NaN,NaN,NaN
2,1987,barkele01,72500,P,NaN,Len,Barker,1987-09-26,11,NaN,NaN,NaN,NaN,NaN
3,1985,bedrost01,550000,P,NaN,Steve,Bedrosian,1995-08-09,37,64.0,5.0,0.0,0.0,0.0
4,1986,bedrost01,650000,P,NaN,Steve,Bedrosian,1995-08-09,68,5.0,1.0,0.0,0.0,0.0
5,1987,bedrost01,1050000,P,NaN,Steve,Bedrosian,1995-08-09,65,4.0,0.0,0.0,0.0,0.0
6,1988,bedrost01,925000,P,NaN,Steve,Bedrosian,1995-08-09,57,2.0,0.0,0.0,0.0,0.0
7,1989,bedrost01,1450000,P,NaN,Steve,Bedrosian,1995-08-09,28,0.0,0.0,0.0,0.0,0.0
8,1989,bedrost01,1450000,P,NaN,Steve,Bedrosian,1995-08-09,40,6.0,1.0,0.0,0.0,0.0
9,1989,bedrost01,1450000,P,NaN,Steve,Bedrosian,1995-08-09,28,0.0,0.0,0.0,0.0,0.0
10,1989,bedrost01,1450000,P,NaN,Steve,Bedrosian,1995-08-09,40,6.0,1.0,0.0,0.0,0.0
11,1990,bedrost01,1450000,P,NaN,Steve,Bedrosian,1995-08-09,68,4.0,2.0,0.0,0.0,0.0
12,1991,bedrost01,1350000,P,NaN,Steve,Bedrosian,1995-08-09,56,NaN,NaN,NaN,NaN,NaN
13,1993,bedrost01,500000,P,NaN,Steve,Bedrosian,1995-08-09,49,2.0,0.0,0.0,0.0,0.0
14,1994,bedrost01,750000,P,NaN,Steve,Bedrosian,1995-08-09,46,2.0,1.0,0.0,0.0,0.0
15,1995,bedrost01,750000,P,NaN,Steve,Bedrosian,1995-08-09,29,0.0,0.0,0.0,0.0,0.0
16,1985,benedbr01,545000,C,NaN,Bruce,Benedict,1989-09-11,70,208.0,42.0,1.0,1.0,2.0
17,1986,benedbr01,565000,C,NaN,Bruce,Benedict,1989-09-11,64,160.0,36.0,1.0,2.0,1.0
18,1987,benedbr01,615000,C,NaN,Bruce,Benedict,1989-09-11,37,95.0,14.0,0.0,0.0,0.0
19,1988,benedbr01,665000,C,NaN,Bruce,Benedict,1989-09-11,90,236.0,57.0,1.0,0.0,2.0
20,1989,benedbr01,395000,C,NaN,Bruce,Benedict,1989-09-11,66,160.0,31.0,4.0,1.0,0.0
21,1985,campri01,633333,P,2013.0,Rick,Camp,1985-10-05,66,13.0,3.0,0.0,0.0,0.0
22,1985,ceronri01,625000,C,NaN,Rick,Cerone,1992-07-10,96,282.0,61.0,1.0,1.0,4.0
23,1986,ceronri01,675000,C,NaN,Rick,Cerone,1992-07-10,68,216.0,56.0,0.0,1.0,5.0
24,1987,ceronri01,250000,1B,NaN,Rick,Cerone,1992-07-10,113,284.0,69.0,0.0,4.0,4.0
25,1987,ceronri01,250000,C,NaN,Rick,Cerone,1992-07-10,113,284.0,69.0,0.0,4.0,4.0
26,1987,ceronri01,250000,P,NaN,Rick,Cerone,1992-07-10,113,284.0,69.0,0.0,4.0,4.0
27,1988,ceronri01,300000,C,NaN,Rick,Cerone,1992-07-10,84,264.0,71.0,0.0,3.0,1.0
28,1988,ceronri01,300000,DH,NaN,Rick,Cerone,1992-07-10,84,264.0,71.0,0.0,3.0,1.0
29,1989,ceronri01,490000,C,NaN,Rick,Cerone,1992-07-10,102,296.0,72.0,1.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61985,2015,norrida01,508700,P,NaN,Daniel,Norris,2015-10-04,8,2.0,1.0,0.0,0.0,0.0
61986,2015,pillake01,512000,LF,NaN,Kevin,Pillar,2015-10-04,159,586.0,163.0,1.0,5.0,5.0
61987,2015,pillake01,512000,CF,NaN,Kevin,Pillar,2015-10-04,159,586.0,163.0,1.0,5.0,5.0
61988,2015,pillake01,512000,RF,NaN,Kevin,Pillar,2015-10-04,159,586.0,163.0,1.0,5.0,5.0
61989,2015,pillake01,512000,OF,NaN,Kevin,Pillar,2015-10-04,159,586.0,163.0,1.0,5.0,5.0
61990,2015,pompeda01,508500,LF,NaN,Dalton,Pompey,2015-10-04,34,94.0,21.0,0.0,2.0,0.0
61991,2015,pompeda01,508500,CF,NaN,Dalton,Pompey,2015-10-04,34,94.0,21.0,0.0,2.0,0.0
61992,2015,pompeda01,508500,OF,NaN,Dalton,Pompey,2015-10-04,34,94.0,21.0,0.0,2.0,0.0
61993,2015,sanchaa01,1021600,P,NaN,Aaron,Sanchez,2015-10-04,41,0.0,0.0,0.0,0.0,0.0
61994,2015,stromma01,514700,P,NaN,Marcus,Stroman,2015-09-30,4,0.0,0.0,0.0,0.0,0.0
61995,2015,tollest01,517300,2B,NaN,Steven,Tolleson,2015-05-26,19,41.0,11.0,0.0,0.0,0.0
61996,2015,tollest01,517300,SS,NaN,Steven,Tolleson,2015-05-26,19,41.0,11.0,0.0,0.0,0.0
61997,2015,tollest01,517300,LF,NaN,Steven,Tolleson,2015-05-26,19,41.0,11.0,0.0,0.0,0.0
61998,2015,tollest01,517300,RF,NaN,Steven,Tolleson,2015-05-26,19,41.0,11.0,0.0,0.0,0.0
61999,2015,tollest01,517300,OF,NaN,Steven,Tolleson,2015-05-26,19,41.0,11.0,0.0,0.0,0.0
62000,2015,barreaa01,514200,P,NaN,Aaron,Barrett,2015-08-05,40,0.0,0.0,0.0,0.0,0.0
62001,2015,dendema01,512972,LF,NaN,Matt,den Dekker,2015-10-04,55,99.0,25.0,0.0,0.0,0.0
62002,2015,dendema01,512972,CF,NaN,Matt,den Dekker,2015-10-04,55,99.0,25.0,0.0,0.0,0.0
62003,2015,dendema01,512972,RF,NaN,Matt,den Dekker,2015-10-04,55,99.0,25.0,0.0,0.0,0.0
62004,2015,dendema01,512972,OF,NaN,Matt,den Dekker,2015-10-04,55,99.0,25.0,0.0,0.0,0.0
62005,2015,robincl01,525000,P,NaN,Clint,Robinson,2015-10-04,126,309.0,84.0,4.0,5.0,1.0
62006,2015,robincl01,525000,1B,NaN,Clint,Robinson,2015-10-04,126,309.0,84.0,4.0,5.0,1.0
62007,2015,robincl01,525000,LF,NaN,Clint,Robinson,2015-10-04,126,309.0,84.0,4.0,5.0,1.0
62008,2015,robincl01,525000,RF,NaN,Clint,Robinson,2015-10-04,126,309.0,84.0,4.0,5.0,1.0
62009,2015,robincl01,525000,OF,NaN,Clint,Robinson,2015-10-04,126,309.0,84.0,4.0,5.0,1.0
62010,2015,taylomi02,508700,LF,NaN,Michael,Taylor,2015-10-04,138,472.0,108.0,9.0,1.0,2.0
62011,2015,taylomi02,508700,CF,NaN,Michael,Taylor,2015-10-04,138,472.0,108.0,9.0,1.0,2.0
62012,2015,taylomi02,508700,RF,NaN,Michael,Taylor,2015-10-04,138,472.0,108.0,9.0,1.0,2.0
62013,2015,taylomi02,508700,OF,NaN,Michael,Taylor,2015-10-04,138,472.0,108.0,9.0,1.0,2.0
62014,2015,treinbl01,512800,P,NaN,Blake,Treinen,2015-10-04,60,2.0,0.0,0.0,0.0,0.0